/* Base styles for Dark Mode */
html, body {
    background-color: #121212;
    color: #e0e0e0;
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; 
}

.container {
    margin: 3rem auto; 
}



/* Styling for buttons on home page */
.btn-custom {
    background-color: #f9ca24; /* This is a golden-yellow shade similar to the design in your screenshot. */
    color: #000; /* Text color is black for contrast. */
    border: none;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #f39c12; /* Darker shade for hover and focus states. */
    color: #000;
}

/* Homepage cards */
.card {
    margin-bottom: 20px;
}

    .card img {
        max-height: 200px; /* This will ensure all images are of the same height */
    }

/* Styling for the blog post cards */
.card.post-card {
    background-color: #f5f5f5;
}

.card.post-card .card-title {
    color: #333;
}

.card.post-card .card-text, .list-group-item {
    color: #555;
}

.card.post-card .text-muted {
    color: #888;
}

/* for the cell phone */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Styling for quiz buttons */

.btn-submit {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #003d82;
}

.question-correct {
    color: green;
}

.question-incorrect {
    color: red;
}

/* Custom styling for table content in dark mode */
.table-dark-mode td {
    color: #e0e0e0; /* Light grey text color for contrast */
}

/* Optional: Enhance visibility of table headers as well */
.table-dark-mode th {
    color: #ffffff; /* White color for headers */
}

/* Enhancements for blog post details */
.blog-post-details {
    color: #e0e0e0; /* Ensure good contrast in dark mode */
    font-size: 1.1rem; /* Slightly larger text for readability */
    line-height: 1.6; /* Improve readability */
}

.blog-post-details h2.display-4 {
    font-size: 2.5rem; /* Make the blog title larger */
    color: #ffffff; /* Brighter color for title */
    margin-bottom: 1rem;
}

.blog-post-details .text-muted {
    font-size: 0.95rem;
    color: #cccccc; /* Subtle contrast for meta info */
}

/* Styling for the rating stars */
.star-rating i {
    cursor: pointer;
    font-size: 1.5rem; /* Larger stars for easier interaction */
}

/* Custom styling for comments and replies */
.comments-section .card {
    background-color: #222831; /* Dark background for comments */
    color: #e0e0e0; /* Light text for readability */
    margin-bottom: 1rem;
}

.comments-section .card-header {
    background-color: #393e46; /* Slightly lighter background for headers */
    color: #ffffff;
}

.comments-section .list-group-item {
    background-color: #333840; /* Differentiate replies with a darker background */
}

.comments-section .card-footer {
    background-color: #393e46; /* Consistent with card-header */
}
