@{
    ViewData["Title"] = "About the Author";
}

<p>
    <--! Just to get test the Code Review stuff -->
<div class="text-center mt-5">
    <h1 class="display-4">About Me</h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h2>Game Designer & Programmer</h2>
                <p>
                    Born in the vibrant city of Toronto, Canada, my roots are
                    deeply embedded in the <a href="https://www.ramafirstnation.ca/">
                    Chippewas of Rama First Nation</a> , the
                    native community from which my mother draws her roots. 
                    I am of First Nations Ojibwe heritage. The philosophical pursuits 
                    of my academic journey led me to attain a Master's in Philosophy
                    with a focus on American Pragmatism and Native Studies, 
                    and it has given me a unique lens through which I see the world. <br>
                    <br>
                    Life has taken me on various adventures — from the sun-soaked 
                    streets of Miami, Florida, to the diverse landscapes of Oregon, 
                    and to many corners of the United States. Each place I've been to 
                    has left a mark on me, enriching my understanding of life and culture.<br>
                    <br>
                    My passion for words found an outlet when I was employed as a writer
                    for various local weekly publications.  I've also had the priviledge
                    of collaborating with Paizo Publishing, a tabletop gaming company, adding my
                    Indigenous voice to a variety of their book projects. Alongside this, I
                    co-founded MindFire Games, an indie game design company, with a few other
                    talented individuals. <br>
                    <br>
                    While I wear many hats, one that I wear with particular pride is that of a
                    designer -- both graphic and web. My skills have been honed through dedicated
                    learning, earning me certificates in web design and front-end web development. 
                    I have taken several classes outside of my program in the Arts Department at Lane
                    Community College, which has helped me to hone my skills in graphic design. Currently,
                    I am navigating the world of software development as I work towards an AAS degree in
                    software development and a certification as a database specialist. <br>
                    <br>
                    Professionally, I find purpose with Native Teaching Aids, a company
                    dedicated to crafting educational games and materials for Indigenous
                    communities. Here, I merge my skills in Javascript and Adobe Animate,
                    ensuring our games resonate with their intended audiences. <br>
                    <br>

                </p>
        </div>
    </div>
    <a href="@Url.Action("Index", "Blog")" class="btn btn-primary">Back to Blog</a>
</div>
